# This file is a template, and might need editing before it works on your project.
# This example is for testing Django with MySQL.
#
# The test CI/CD variables MYSQL_DB, MYSQL_USER and MYSQL_PASS can be set in the project settings at:
#     Settings --> CI/CD --> Variables
#
# The Django settings in settings.py, used in tests, might look similar to:
#
#  DATABASES = {
#      'default': {
#         'ENGINE': 'django.db.backends.mysql',
#         'NAME': os.environ.get('MYSQL_DATABASE'),
#        	'USER':  os.environ.get('MYSQL_USER'),
#        	'PASSWORD': os.environ.get('MYSQL_PASSWORD'),
#       	'HOST': 'mysql',
#     	  'PORT': '3306',
#         'CONN_MAX_AGE':60,
#      },
#  }
#
# It is possible to use '--settings' to specify a custom settings file on the command line below or use an environment
# variable to trigger an include on the bottom of your settings.py:
#   if os.environ.get('DJANGO_CONFIG')=='test':
#       from .settings_test import *
#
# It is also possible to hardcode the database name and credentials in the settings.py file and in the .gitlab-ci.yml file.
#
# The mysql service needs some variables too. See https://hub.docker.com/_/mysql for possible mysql env variables
# Note that when using a service in GitLab CI/CD that needs environment variables to run, only variables defined in
# .gitlab-ci.yml are passed to the service and variables defined in the GitLab UI are not.
# https://gitlab.com/gitlab-org/gitlab/-/issues/30178
workflow:
  rules:
    # Run pipeline for merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Also run pipeline for pushes to dev branch
    - if: '$CI_COMMIT_BRANCH == "dev"'
    
stages:
  - build
  - test
  - deploy

variables:
  DATABASE_URL: ""
  DB_NAME: "wangumi_db"
  DB_USER: "gumi"
  DB_PASSWORD: "1234"
  DB_HOST: "postgres"
  DB_PORT: "5432"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  SECRET_KEY : "1234"
default:
  image: python:3.12
  services:
    - name: postgres:16
      alias: postgres
      variables:
        POSTGRES_DB: "wangumi_db"
        POSTGRES_USER: "gumi"
        POSTGRES_PASSWORD: "1234"
  cache:
    paths:
      - .cache/pip/
  before_script:
    - apt-get update -y
    - apt-get install -y curl gnupg build-essential libpq-dev
    - curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
    - apt-get install -y nodejs
    - python -m pip install --upgrade pip -i https://pypi.tuna.tsinghua.edu.cn/simple
    - pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
    - chmod +x build.sh


migrations:
  stage: build
  script:
    - cd backend
    - python3 manage.py migrate
    - python3 manage.py check

django-tests:
  stage: test
  script:
    - cd backend
    - python3 manage.py test

deploy:
  stage: deploy
  variables:
    PORT: "8000" 
  script:
    - ./build.sh
    - >
      cd backend && gunicorn wangumi.wsgi:application --workers 3 --bind 0.0.0.0:$PORT
  environment:
    name: production
  when: manual
  only:
    - dev
